@font-face {
    font-family: "Nud Motoya Maru";
    src: url("nud-montoya-maru.eot");
    src: url("nud-montoya-maru.eot?#iefix") format("embedded-opentype"),
        url("nud-montoya-maru.woff2") format("woff2"),
        url("nud-montoya-maru.woff") format("woff"),
        url("nud-montoya-maru.ttf") format("truetype"),
        url("nud-montoya-maru.svg#Nud Motoya Maru") format("svg");
}